@charset "UTF-8";

*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: lightslategray;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color:rgb(79, 90, 102);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
section#login > div#imagem {
    display: block;
    background: lightslategray url(../imagens/pexels-scottwebb-1544943.jpg) no-repeat;
    background-size: cover;
    background-position:left bottom;
    height: 200px;
   
}

section#login > div#formulario{
    padding: 10px;
    display: block;
}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 8px;
}
div#formulario > p {
    font-size: 0.9em;
     margin: 20px 0px;
}
form > div.campo {
    background-color: blue;
    width: 100%;
    display: block;
    height: 48px;
    border-radius: 5px;
    margin: 5px 0px;
    
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35%;
    background-color: rgb(46, 46, 183);
    color: lightslategray;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}
div.campo > label{
    display: none;
}
div.campo > i{
    color: black;
    font-size: 1.5em;
    width: 40px;
    padding: 5px;
}
div.campo > input{
    font-size: 0.9em;
    width: calc(100% - 44px);
    height: 100%;
    border-radius: 5px;
    padding: 4px;
    transform: translatey(-1px);

}
form > input[type=submit]:hover{
    background-color: rgb(40, 157, 196);
}
form > a.boton {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35%;
    background-color: rgb(142, 179, 192) ;
    border: 1px solid lightskyblue;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding-top: 5px;
    margin-top: 5px;
}
form > a.boton:hover{
    background-color: lightgray;
}
form > a.boton > i {
    font-size: 0.7em;

}